/* Efeitos */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #000000;
  --dark-secundario: #252525;
  --dark-hover: #353535;
  --light: #ffffff;
  --gray: #dbdada;
  --gray-secundario: #9c9c9c;
}

.gradiente {
  background-image: linear-gradient(to left, #1a6da5, #64a3d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: blue;
}

/* Responsividade */

@media (max-width: 1230) {
  .container-interativo {
    background-color: rgb(230, 42, 42);
  }
}

/* header */

/* Futuro btn pra trocar de tema */

/* .cabecalho {
  margin: -50px 0 10px 0;
}

.toggle {
  margin-left: 42%;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  border-radius: 20px;
  width: 57px;
  height: 32px;
  background-image: linear-gradient(to left, #1a6da5, #64a3d6);
  cursor: pointer;
  padding: 4px;
}

#checkbox {
  opacity: 0;
  position: absolute;
}

.circulo {
  width: 24px;
  height: 24px;
  background-color: #dbd9d9;
  border-radius: 20px;
  border: 4px solid #e6e6e6;
  cursor: pointer;
  transition: 0.3s linear;
}

#checkbox:checked + .icons .circulo {
  transform: translate(25px);
} */

/* main */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  font-family: "Inder", sans-serif;
  font-size: 18px;
}

.corpo-light {
  background-color: var(--light);
  font-family: "Inder", sans-serif;
  font-size: 18px;
}

.container-maior {
  display: flex;
  height: 80vh;
  flex-direction: row;
}

.container-principal-dark {
  background-color: var(--dark);
  width: 600px;
  padding-left: 95px;
  position: fixed;
}

.container-principal-light {
  background-color: var(--light);
  width: 600px;
  padding-left: 95px;
  position: fixed;
}

.cabecalho {
  width: 100%;
  height: 80px;
}

.foto {
  width: 29%;
  border: none;
  border-radius: 50%;
}

.titulo {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
}

.sobre-mim-dark {
  color: var(--gray);
  margin-bottom: 200px;
  margin-top: 70px;
  line-height: 35px;
}

.sobre-mim-light {
  color: var(--dark);
  margin-bottom: 200px;
  margin-top: 70px;
  line-height: 35px;
}

.redes {
  font-size: 15px;
  color: #64a3d6;
  text-decoration: none;
}

.redes-sociais {
  display: flex;
  gap: 40px;
  list-style: none;
}

/* Aside */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #2aa7fa44;
}

.container-interativo-dark {
  background-color: var(--dark);
  margin-left: 585px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 30px;
}

.container-interativo-light {
  background-color: var(--light);
  margin-left: 585px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 30px;
}

.link-bloco {
  list-style-type: none;
  margin-left: 25px;
}

.ancora-projeto {
  text-decoration: none;
  list-style: none;
}

.link-projetos {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 30px;
  width: 600px;
  height: 80vh;
}

.bloco-dark {
  height: 195px;
  width: 550px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  gap: 10px;
  background-color: #151515;
}

.bloco-light {
  height: 195px;
  width: 600px;
  background-color: var(--gray-secundario);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  gap: 10px;
}

.bloco-dark:hover {
  background-color: var(--dark-hover);
  width: 570px;
  margin-left: -10px;
}

.bloco-light:hover {
  background-color: var(--gray-secundario);
  width: 620px;
}

.titulo-bloco-dark {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  color: var(--light);
}

.titulo-bloco-light {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  color: var(--dark);
}

.subtitulo-bloco {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

.texto-bloco-dark {
  font-size: 14px;
  color: var(--gray-secundario);
}

.texto-bloco-light {
  font-size: 14px;
  color: var(--gray);
}
